*{
  font-family: 'DM Sans', sans-serif;
}
          /*AUTH PAGE*/

.uploadcare--jcrop-holder>div>div{
  border-radius: 50%;
}
.profilePicLarge{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid black;
}
#authContainer{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
#register, #login{
  width: 450px; 
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 30px;
}
#register > div, #login > div{
  width: 100%;
  padding: 4px 8px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-self: center;
}
#uploadImageWidget{
  background-color: inh;
}
#register > div > span{
  margin-right: 10px;
}
#register > button{
  width: 100px;
}
#register > div > input, #login > div > input{
  width: 50%;
  height: 25px;
  border: 1px solid lightgray;
  border-radius: 3px;
}

.submitButton{
  width: 50%;
  height: 40px;
  border: 1px solid lightgray;
  box-sizing: border-box;
  border-radius: 3px;
  text-align: center;
  padding: 8px;
  background-color: lightskyblue;
}
#register > div > div:hover, #login > div > div:hover{
  cursor: pointer;
  background-color: rgb(80, 175, 235);
}
#newUserRegister{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#newUserRegister > :last-child{
  border-bottom: 1px solid black;
  
}
#login > div > select, #register > div > select{
    width: 100px;
    margin-right: 8px;
    margin-left:8px;
}
#newUserRegister > :last-child:hover{
  border-bottom: 1px solid black;
  cursor: pointer;
}
.uploadcare--widget__button, .uploadcare--widget__button_type_open{
  background-color: black;
  width: 100%;
}
.uploadcare--widget__button:hover, .uploadcare--widget__button_type_open:hover{
  background-color: rgb(168, 162, 162);
}
.uploadcare--widget__button:focus, .uploadcare--widget__button_type_open:focus{
  background-color: rgb(168, 162, 162);
}
@media (max-width:450px){
  #register{
      width: 100%;
  }
  #register > div > input{
    width: 70%;
  }
}