*{
  font-family: 'DM Sans', sans-serif;
}
body{
  background-color: #EFE9F4;
}
          /*AUTH PAGE*/

.uploadcare--jcrop-holder>div>div{
  border-radius: 50%;
}
.profilePicLarge{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid black;
}
#authContainer{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
#register, #login{
  width: 450px; 
  border-radius: 5px;
  background-color: #5FBFF9;
  padding: 30px;
}
#register > div, #login > div{
  width: 100%;
  padding: 4px 8px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-self: center;
}

#register > div > span{
  margin-right: 10px;
}
#register > button{
  width: 100px;
}
#register > div > input, #login > div > input{
  width: 50%;
  height: 25px;
  border: 1px solid lightgray;
  border-radius: 3px;
}

.submitButton{
  width: 50%;
  height: 40px;
  
  box-sizing: border-box;
  border-radius: 3px;
  text-align: center;
  padding: 8px;
  color: #EFE9F4;
  background-color: #171D1C;
}
#register > div > div:hover, #login > div > div:hover{
  cursor: pointer;
  background-color: rgb(80, 175, 235);
}
#newUserRegister{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#newUserRegister > :last-child{
  border-bottom: 1px solid black;
  
}
#login > div > select, #register > div > select{
    width: 100px;
    margin-right: 8px;
    margin-left:8px;
}
#newUserRegister > :last-child:hover{
  border-bottom: 1px solid black;
  cursor: pointer;
}
.uploadcare--widget__button, .uploadcare--widget__button_type_open{
  background-color: #171D1C;
  color: #EFE9F4;
  width: 100%;
}
.uploadcare--widget__button:hover, .uploadcare--widget__button_type_open:hover{
  background-color: #161d1c;
  color: #EFE9F4;
}
.uploadcare--widget__button:focus, .uploadcare--widget__button_type_open:focus{
  background-color: #1f2726;
  color: #EFE9F4;
}
@media (max-width:450px){
  #register{
      width: 100%;
  }
  #register > div > input{
    width: 70%;
  }
}

/*NAVBAR*/
#websiteLogoName{
  position: fixed;
  top:0%;
  right: 1%;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
#websiteLogoName > span{
  display: none;
}
#navBar{
  z-index: 5;
  padding-left: 6px;
  box-sizing: border-box;
  padding-right: 6px;
  position: fixed;
  top:0%;
  width: 100%;
  height: 85px;
  background-color: #171D1C;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#navBar > div{
  color: #EFE9F4;
}
.navBarLink > div{
  color: #EFE9F4;
  text-decoration: none;
  
}
.navBarLink{
  color: #EFE9F4;
  text-decoration: none;
  
}

.navBarLink > div:hover, #logout:hover, #navHamburger:hover{
  color: #5FBFF9;
  cursor: pointer;
  border-bottom: 1px solid #5FBFF9;
  
}
.profilePicMedium {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}
.profilePicSmall {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
#navBarUserInfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#navBarPageLinks{
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#navBarAuthLinks{
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  width: 20%;
}
#navHamburger{
  color: #EFE9F4;
  display: none;
}
@media (max-width: 675px){
  #navBarPageLinks, #navBarAuthLinks{
    display: none;
  }
  #navBar.active{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
  }
  #navBarPageLinks.active, #navBarAuthLinks.active{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  #navHamburger{
    position: absolute;
    display: block;
    top: 2%;
    right: 2%;
    height: 35px;
    width: 35px;
  }
  #navHamburger.active{
    position: absolute;
    top: 2%;
    right: 2%;
  }
  #websiteLogoName{
    left: 35%;
    width: 30%;
    height: 60px;
  }
  #logo{
    height: 30px;
    width: 30px;
  }
  #websiteLogoName > span{
    display: block;
  }
  #websiteLogoName.active > span{
    display: none;
  }
  #websiteLogoName.active{
    left: 2%;
    top: 2%;
    width: 30px;
    height: 30px;
  }
  .navBarLink{
    margin-top: 3px;
    margin-bottom: 3px;
    
  }

}
/*EDIT PROFILE PAGE*/

#editProfileContainer{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#chooseProfileEditOptions{
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#chooseProfileEditOptions > div{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#chooseProfileEditOptions > div >div{
  display: flex;
  width: 100%;
  margin-top: 15px;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: row-reverse;
}

#chooseProfileEditOptions > button {
  width: 150px;
  height: 30px;
  background-color: #5FBFF9;
  border: 1px solid black;
  border-radius: 3px;
}

#editOptions{
    height: 30%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/*Create Game*/
.createGameFormContainer{
  background-color: #5FBFF9;
  padding: 24px 36px;
  box-shadow: .25px .25px 10px .25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-top: 20px;

}
.createGameFormContainer > div{
  display: flex;
  flex-direction: row;
  border: 1px solid #171D1C;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 4px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 8px 8px;
  background-color: #EFE9F4;

}
.createGameFormContainer > div > button{
    background-color: #171D1C;
    color: #EFE9F4;
}
#createGameIconSelection{
  z-index: 10;
  position: absolute;
  box-sizing: border-box;
  width: 325px;
  top: 25vh;
  left: 50vw - 325px;
  background-color: #16BAC5;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
#createGameIconSelection > img {
  margin-top: 20px;
}
#createGameIconSelection > img:hover {
  opacity: .3;
}
#createGameContainer{
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: #EFE9F4;
  padding-top: 90px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#createGameStatusBar{
  
}
#createGameStatusBar > span{
    border: 1px solid black
}
#createGameStatusBar .active {
    background-color: #55da60;
}


#createGameMapContainer{
  margin-top: 15px;
  border: 1px solid #171D1C;
  height: 50vh;
  width: 80vw;

}
/*Create game, button/slider*/
.slider[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}
.createGameIconPreview{
  height: 50px;
  width: 50px;
}
.sliderLabel {
	cursor: pointer;
	text-indent: -9999px;
	width: 60px;
	height: 30px;
	background: rgb(248, 4, 4);
	display: block;
	border-radius: 100px;
	position: relative;
}

.sliderLabel:after {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 30px;
	height: 30px;
	background: #fff;
	border-radius: 50%;
	transition: 0.3s;
}

.slider:checked + label {
	background: #55da60;
}

.slider:checked + label:after {
	left: calc(100%);
	transform: translateX(-100%);
}

.sliderLabel:active:after {
	width: 30px;
}

/*DASH*/

#dashContainer{
  height: fit-content;
  width: 100vw;
  margin-top: 70px;
  border-top: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  

}
.dashGameContainer{
  margin-top: 15px;
  width: 90vw;
  padding: 12px;
  background-color: #16BAC5;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
/*titles*/
.dashGameViewTitle{
  text-align: center;
  margin-top: 0px;
}
.dashGameDets, .dashGameOptions{
  height: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
}
.dashGamePlayers{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.indDashGamePlayer{
  display: flex;
  background-color: black;
  border-radius: 4px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3px;
}
.indDashGamePlayer > img{
  
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
}
.indDashGamePlayer > span{
  font-size: 12px;
  color: white;
}
.dashGamePlayersContainer{
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 5px;
}
@media (max-width: 600px){
  
}
/*User Profile*/
#userProfilePageContainer { 
  width: 100vw;
  height: 100vh - 80px;
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Game Page*/
#gamePageContainer{
  height: 100vh;
  width: 100vw;
  justify-content: center;
  padding-top: 80px;  
  box-sizing: border-box;
  
}
#gamePageGameContainer{
  width: 90%;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
#gamePageGameContainer > div{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

/*Map*/

.mapSearchBar {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 400px;
  z-index: 10;
}

.mapSearchBar input {
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 100%;
}